:root {

    --black: #050505;

    --charcoal: #111111;

    --ivory: #F8F6F1;

    --gold: #C8A45D;

    --gold-light: #E3C98A;

    --silver: #A3A3A3;

    --white: #ffffff;


    --serif: "Cormorant Garamond", serif;

    --sans: "Inter", sans-serif;


    --transition: .5s cubic-bezier(.2,.8,.2,1);

}

